html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.story {
  display: flex;
  flex-direction: column;
}

.headline {
  font-weight: bolder;
  font-size: 15pt;
  color: black;
}

header h1 {
  background: url("/assets/images/logo.png") no-repeat;
  text-indent: -9999px;
  height: 100px;
  background-position: center;
  background-size: 50%;
}

.story img {
  width: 80%;
}

section img {
  width: 25%;
}

a,
a:visited {
  text-decoration: none;
}
nav a:hover {
  color: #5cb7f6;
}
footer {
  background-color: #f6f6f6;
}
.category {
  color: #e96529;
}
